[Unit]
Description=Timer to run periodic-command-executor.service

[Timer]
Unit=periodic-command-executor.service
OnBootSec=5m
OnUnitActiveSec=30m

[Install]
WantedBy=timers.target